* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(227, 219, 216);
  font-family: 'Ubuntu', sans-serif;
  cursor: default;
}

body {
  overflow: hidden;
}

body>main {
  width: 100vw;
  height: 100vh;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  height: 100%;
}

.fillwidth {
  width: 100%;
}

.scrolling {
  overflow-y: scroll;
}

.fillwidth {
  width: 100%;
}

.oneflex {
  flex: 1;
}

.twoflex {
  flex: 2;
}

.threeflex {
  flex: 3;
}

.fourflex {
  flex: 4;
}

.flexbox {
  display: flex;
}

.dir-col {
  flex-direction: column;
}

.dir-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

/* Specific media */
.trackpadding {
  padding: 5px;
}

.artist_text {
  font-weight: bold;
  font-size: 14pt;
}

.track_text {
  font-style: normal;
  font-size: 12pt;
}

.artist_text_play {
  font-weight: bold;
  font-size: 18pt;
}

.track_text_play {
  font-style: normal;
  font-size: 16pt;
}

.track_text_time {
  font-style: normal;
  font-size: 16pt;
}

.icon_large {
  font-size: 24pt;
}

.nowplay {
  font-size: 24pt;
}

.track {
  padding: 5px;
  overflow: hidden;
  border: 1px solid rgb(25, 25, 25);
  min-height: 75px;
  max-height: 75px;
  margin: 5px 0;
  background-color: rgb(45, 45, 45);
}

.track:hover {
  background-color: rgb(55, 55, 55);
}

.track * {
  background-color: inherit;
}

.track>figure {
  height: 65px;
}

.albumdisplay {
  border: 1px solid #FFF;
  width: 100%;
}

.space-even {
  justify-content: space-around;
}


.player {

}


.smallbutton {
  font-size: 12pt;
}

.mediumbutton {
  font-size: 18pt;
}

.largebutton {
  font-size: 36pt;
}

.text_playlist {
  font-size: 18pt;
}

/* ID */
#track_playing {}

#p_shuffle {
  color: #FFF;
}

#p_repeat {
  color: #FFF;
}

#player_track_time_elapsed_bar {
  width: 0%;
}

#p_pause {
  display: none;
}

#p_play {
  display: block;
}

#hide_on_desktop {
  display: block;
}

#track_list {
  background-color: rgb(35, 35, 35);
  display: none;
}


#player_view {
  background-color: rgba(0,0,0,0.65);

}


#track_bg {
  height: 100%;
  width: 67%;
  position: fixed;
  background-image: url('');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  opacity: 0.8;
  z-index: -1;
}

#playlist_list {
  display: flex;
  background-color: rgb(35, 35, 35);
}

.timeline {
  background-color: rgb(75, 75, 75);
  height: 0px;
  padding-bottom: 9px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(75, 75, 75);
}

.progress {
  background-color: rgb(150, 150, 150);
  height: 100%;
  border-radius: 5px;
  border: 5px solid rgb(150, 150, 150);
}

#volume_control{
  display: inline;
  width: 20vh;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* Tablet & mobile */
@media (max-width: 1024px) {

  #track_bg {
    height: 100%;
    width: 100%;
  }

  #volume_control{
    display: none;
  }

  #player_main {
    flex-direction: column;
  }

  #hide_on_desktop {
    display: block;
  }

  #player_view {
    order: 1;
    min-height: 100vh;
    max-height: 100vh;
  }

  .player {
    height: 100vh;
  }

  #track_list {
    order: 2;
    min-height: 100vh;
    max-height: 100vh;
  }

  #playlist_list {
    order: 2;
    min-height: 100vh;
    max-height: 100vh;
  }

  .mobile_only {
    display: block;
  }

  .desktop_only {
    display: none;
  }
}

@media (min-width: 1025px) {

  #track_bg {
    height: 100%;
    width: 67%;
  }

  #volume_control{
    display: inline;
  }

  #player_main {
    flex-direction: row;
  }

  #hide_on_desktop {
    display: none;
  }


  #player_view {
    order: 2;
    min-height: 100vh;
    max-height: 100vh;
    flex: 2;
  }

  .player {
    height: 100vh;
  }

  #track_list {
    flex: 1;
    order: 1;
    min-height: 100vh;
    max-height: 100vh;
  }

  #playlist_list {
    flex: 1;
    order: 1;
    min-height: 100vh;
    max-height: 100vh;
  }

  .mobile_only {
    display: none;
  }

  .desktop_only {
    display: block;
  }
}
